# Introduction to Pandas

### What is pandas?
- A python package for data manipulation and analysis
- Simplifies common tasks
- Fast and efficient for large datasets

### Basic functionality
- Load data from various types of files
- Filter, sort, edit and process data
- Join and aggregate datasets
- Display data in tables and plots

In [ ]:
# Import pandas
import pandas as pd

# Read data from a .csv file
# This creates a pandas DataFrame object
df = pd.read_csv('data/patient_info.csv')

## Getting an overview of the data

Data is stored in **rows**, labelled by **indices**, and **columns**.

- `df.head(n)` shows the first `n` rows (by default, `n` = 5)
- `df.sample(n)` shows a random sample of `n` rows
- `df.tail(n)` shows the last `n` rows

Some other useful commands:
- `df.shape`: number of rows and columns
- `df.columns`: list of columns
- `df.dtypes`: show data types of each column (note: strings are called "objects" in pandas)
- `df.info()`: show the number of non-null entries and data types in each column
- `df.describe()`: make DataFrame of statistical info about each column

In [ ]:
# Display the first 8 entries
df.head(8)

In [ ]:
# Print number of entries and data type of each column
df.info()

In [ ]:
# Get statistics for each column
df.describe()

In [ ]:
# Get number of rows and columns
rows, cols = df.shape
print(rows, 'rows and', cols, 'columns')

## Accessing data entries

- Each entry has a corresponding **row** (labelled by an **index**) and **column** (labelled by a **column header**).
- The rows and columnss can also be accessed by an integer based on their positions.
- Hence there are 2 ways to access a data entry (known as "**indexing**"):
    - by **position**
    - by **label**
    
### Position-based indexing (`iloc`)
- Use `iloc` with square brackets to access data at a specific position, e.g. `df.iloc[2, 7]`
- The order is [row, column]
- Can also access a range of values with `:`, e.g. `df.iloc[10:20, 7:9]`
- If only one value is given in the square brackets, all columns will be returned
- Note: this is very similar to indexing numpy arrays (and in fact, pandas is built on top of numpy)

### Label-based indexing (`loc`)
- Use `loc` with square brackets to access data in rows and columns with specific labels, e.g. `df.loc[:10, 'age']`
- Note that by default, the row labels are the same as the row indices - but this doesn't always have to be the case!
- Access multiple labels at once using a list, e.g. `df.loc[:10, ['patient', 'age', 'sex']]`

![dataframe](dataframe.svg)

In [ ]:
# Access a single entry
df.iloc[2, 7]

In [ ]:
# Access a range of entries
df.iloc[10:20, 7:9]

In [ ]:
# Get all columns for rows 0-10
df.iloc[:10]

In [ ]:
# Access a single column and multiple rows
df.loc[:10, 'age']

In [ ]:
# Access multiple columns and rows
# Note, the return value for .loc() and .iloc() is another DataFrame!
df_small = df.loc[:10, ['patient', 'age', 'sex']]
df_small.head()

### Indexing can also be used to change values inside the DataFrame
- Note: this will permanently modify the DataFrame
- A useful function is `df.copy()` so we don't overwrite our original data

In [ ]:
# Make a copy and change some values
df_small2 = df_small.copy()
df_small2.loc[2, 'sex'] = 'F'
df_small2.loc[4, 'age'] = 10000
display(df_small2.head())

### Selecting columns (taking a "slice" of the DataFrame)
- If we just want to select certain columns but keep every row, we don't need to use `iloc`/`loc`.
- To take a single column from the DataFrame, use square brackets directly after the DataFrame variable, e.g. `df['age']`
- To take multiple columns, use a list inside square brackets (i.e. two layers of brackets), e.g. `df[['patient', 'age', 'sex']]`
- Beware that the slice is just a **view** of the existing data, not a **copy**; if you try to modify the slice you'll get a warning.
- To take a slice of the DataFrame and make a brand new object, use the `.copy()` method, e.g. `df_new = df[['patient', 'age', 'sex']].copy()`

### Deleting columns
- We can also **remove** certain columns with the `drop` function.
- Do this using: `df_new = df.drop(['age', 'sex'], axis=1)`.
- The `axis=1` is important: if we set `axis=0`, we would drop **rows** instead (this is the case for a lot of pandas DataFrame functions).
- Also important: this function doesn't modify the **original** DataFrame, but instead returns a **new** DataFrame with the chosen columns removed.
- If we wanted to modify the original, could run: `df.drop(['age', 'sex'], axis=1, inplace=True)`

In [ ]:
# Get a single column
display(df['age'].head())

# Get multiple columns
display(df[['age', 'sex', 'patient']].head())  # Note, we can specify columns in any order

In [ ]:
# Make a new DataFrame with subset of columns
df2 = df[['patient', 'age', 'sex', 'cohort']].copy()  # Use .copy to ensure that df2 is a new DataFrame
display(df2.head())

# Create new DataFrame with 'age' column dropped
df3 = df2.drop('age', axis=1)
display(df3.head())

# We can also modify the original DataFrame with the "inplace" parameter
df2.drop(['sex', 'cohort'], axis=1, inplace=True)
display(df2.head())

In [ ]:
# If we try to modify a slice without making a copy, we'll get a warning...
df_slice = df[['patient', 'age']]
df_slice['age'] *= 2

### Changing the row label
- I mentioned earlier that row labels aren't necessarily the same as row indices.
- The row labels can be set when data is loaded, or set later from the values in a column using `df.set_index`.
- Like `drop`, this function makes a **new** DataFrame unless `inplace=True` is used.
- Sometimes it's useful to set `drop=False` so that the chosen column stays in the DataFrame.
- You can relabel your indices with numbers using `df.reset_index()`. Use `df.reset_index(drop=True)` if you don't want to save the original indices.

In [ ]:
# Make a new DataFrame with "patient" as the index
df2 = df.set_index('patient', drop=False)
df2.head()

### Pandas DataSeries objects
- You might be wondering why the output looks different when we display a single column of data vs. multiple columns...
- That's because multiple columns make up a **DataFrame**, whereas each individual column is a **DataSeries**.
- A DataSeries is just a list of values, each with a row label.

#### Useful functions for DataSeries:
- `count()`: count non-null entries.
- `sum()`: add up entries.
- `mean()`: calculate the mean.
- `value_counts()`: show how many of each value is in the series.
- `nunique()`: count unique values.
- `unique()`: return an array of the unique values in the series.
- `to_list()`: convert the series to a python list.
- `notna()` / `isna()`: get only non-NaN/NaN entries

![dataframe](dataframe-2.png)

In [ ]:
# Get a DataSeries containing patient ages
ages = df['age']
ages

In [ ]:
# Use some of the DataSeries functions
print('Number of entries:', ages.count())
print('Sum of entries:', ages.sum())
print('Mean age:', ages.mean())
print('Number of unique entries:', ages.nunique())

In [ ]:
# Get DataSeries of patient sex
sexes = df['sex']

# Show value counts
sexes.value_counts()

In [ ]:
# Get array of unique sexes
unique_sexes = sexes.unique()
unique_sexes

## Filtering data with masks
- Applying a boolean condition to a DataSeries (such as a column of our DataFrame) will produce a new DataSeries of booleans.
- This DataSeries can be used as a **"mask"** to filter out data from a DataSeries or DataFrame. To do this, put the mask in square brackets, e.g. `df_masked = df[mask]`.
- Rows in the **masked** DataFrame will keep their labels from the original - this is useful if we want to refer back to the original DataFrame. 
- Multiple masks can be used in combination using single `&` (and) or `|` (or) operators.
- Masks can be inverted using `~`, e.g. `df[~mask]`.
- Any boolean column can also be used as a mask.
- The DataSeries functions `isna()` and `notna()` are useful for masking NaN values in a column.

In [ ]:
# Make a mask for female patients only
mask_f = df['sex'] == 'F'
display(mask_f.head())
mask_f.value_counts()

In [ ]:
# Apply the mask to the DataFrame
print('Original DataFrame shape:', df.shape)
df_female = df[mask_f]
print('New DataFrame shape:', df_female.shape)

df_female.head()

In [ ]:
# Create masks for age, sex, and cohort
mask_age = df['age'] < 65
mask_cohort = df['cohort'] == 'C'
df_masked = df[mask_f & mask_age & mask_cohort]
df_masked.head()

In [ ]:
# Re-index the new DataFrame
df_masked.reset_index(inplace=True, drop=True)
df_masked.head()  # Note: the original index gets saved as a column!

In [ ]:
# If you have columns that already containing booleans, you can use them as masks!
# E.g. get subset of patients with no baseline data
df_no_baseline = df[~df['has_baseline']]  # Remember, ~ to invert mask
df_no_baseline.head()

In [ ]:
# Mask out rows with a NaN value in a given column
df_no_nan_alcohol = df[df['alcohol_metric'].notna()]
df_no_nan_alcohol.head()

## Processing data
- Columns can be combined using mathematical operations in the same way as numpy arrays.
- The output of an operation on columns can be assigned to a new column, e.g. `df['age_sq'] = df['age'] ** 2`.

#### Dealing with NaN values:
- `fillna(value)`: replace all NaN entries with some value.
- `dropna()`: drop any rows containing NaN entries. Can also be used as `dropna(column_name)` to only drop NaN in a specific column.

#### Adjusting data types:
- `df[col_name].astype(type)`: cast data in a column to a difference type.
- `pd.to_datetime(df[col_name])`: convert a column datatype to `datetime`
- `pd.to_timedelta(df[col_name])`: convert a column datatype to `timedelta`

#### Other useful functions:
- `sort_values(by=column_name, ascending=True/False)`: sort DataFrame based on values in a column.
- `apply(func, axis=1)`: apply a function to every row.
- `apply(func)` when used on a DataSeries: apply function to every element in the series.

In [ ]:
# Mathematical operations
df2 = df[['patient', 'smoking_metric', 'alcohol_metric']].copy()
df2['smoking_and_alcohol'] = df2['smoking_metric'] + 2 * df2['alcohol_metric']
df2

In [ ]:
# Filling in NaN values
df2 = df[['patient', 'alcohol_metric']].copy()
display(df2.tail())
df2.fillna(0, inplace=True)
display(df2.tail())

In [ ]:
# Dropping NaN entries
df2 = df[['patient', 'alcohol_metric']].copy()
df2.dropna(inplace=True)
df2.tail()

In [ ]:
# Using astype to round integers
df2 = df[['patient', 'age', 'sex']].copy()
df2['age'] = df2['age'].astype(int)
df2.head()

In [ ]:
# Converting dates to datetime objects
df['treatment_end'] # At this point, the date is just a string (referred to as an "object" in pandas)

In [ ]:
# Convert the date string to a datetime object
df['treatment_end'] = pd.to_datetime(df['treatment_end'])
df['treatment_end']  # Now the dtype is datetime64!

In [ ]:
# Sort by date
df_sorted = df.sort_values(by='treatment_end', ascending=False)
df_sorted[['patient', 'treatment_end']].head(10)

In [ ]:
# Applying a function to a single column
def get_age_description(age):
    if age < 50:
        return 'young'
    elif age < 60:
        return 'middle-aged'
    else:
        return 'old'

df2 = df[['patient', 'age']].copy()
df2['age_desc'] = df2['age'].apply(get_age_description)  # We are applying this to a single column
df2.sample(10)

In [ ]:
# Applying a function to each row
def description(row):
    age = int(row['age'])
    sex = row['sex']
    person = 'man' if sex == 'M' else 'woman'
    return f'{age}-year-old {person}'

df2 = df[['patient', 'age', 'sex']].copy()
df2['desc'] = df2.apply(description, axis=1)  # We are applying to the whole DataFrame, so we need to 
                                              # specify axis=1 (i.e. loop over rows, not columns)
df2.sample(10)

In [ ]:
# Applying with a lambda function
# Sometimes, you want to quickly apply a one-line method to a column, e.g. converting a string to lowercase:
df2['sex'] = df2['sex'].apply(lambda x: x.lower())
df2.sample(10)

## Loading data
Pandas DataFrames can be loaded from many different inputs:
- `.csv`: use `pd.read_csv(filename)`.
- Excel spreadsheets: use `pd.read_excel(filename)`.
- Can also create a DataFrame from a list of dictionaries.

DataFrames can be easily written to a csv file using `df.to_csv(filename).`

In [ ]:
# Example of loading from excel
df = pd.read_excel('../../../Toxicity/data/case_detail.xlsx')
df.sample(10)

In [ ]:
# We need to tidy it up a bit!
# Drop empty first row
df.drop(0, inplace=True)  # Don't forget to set inplace=True to modify the original DataFrame

# Drop empty last column
df.drop(df.columns[-1], axis=1, inplace=True)  # df.columns is useful for getting a list of column names!
                                               # Don't forget to specify axis=1 to drop a column

# Rename columns
df.rename({'Age': 'age', 
           'cons or disc?': 'cohort',
           'HEP ID': 'patient'}, axis=1, inplace=True)

# Take only the columns we care about
to_keep = ['patient', 'cohort', 'age', 'primary site', 'SACT', 'max dose']
df = df[to_keep]

# Convert max dose to an integer
import numpy as np
def dose_to_int(dose_str):
    dose = str(dose_str).split('G')[0]
    dose = dose.strip()
    try:
        return int(dose)
    except ValueError:
        return np.nan
    
df['max dose'] = df['max dose'].apply(dose_to_int)

# Drop entries with NaN max dose using a mask
dose_notna_mask = df['max dose'].notna()
df = df[dose_notna_mask]

df.sample(10)

In [ ]:
# Creating a DataFrame from python dictionaries
# Create a list of rows, with column names as keys:
rows = [
    {"name": "Bob", "age": 50, "sex": "M", "employed": True, "children": 3},
    {"name": "Alice", "age": 46, "sex": "F", "employed": False, "favourite colour": "red"}
]
df = pd.DataFrame(rows)
df  # Note: any missing entries are filled in as NaN

In [ ]:
# Writing out data
df.to_csv("data/my_data.csv")

In [ ]:
# Note: this writes the index to the file as well, which will then be read in as a column when you reload...
df2 = pd.read_csv("data/my_data.csv")
df2

In [ ]:
# Solution: set index=False when writing
df.to_csv("data/my_data.csv", index=False)
df2 = pd.read_csv("data/my_data.csv")
df2

In [ ]:
# Or use the first column as the index when reading in
df.to_csv("data/my_data.csv", index=True)
df2 = pd.read_csv("data/my_data.csv", index_col=0)
df2

## Combining DataFrames
- Concatenate two DataFrames (i.e. stack their rows together): `df = pd.concat([df1, df2])`
- Merge two DataFrames based on a column value using `df_merged = df1.merge(df2, on=col_name)`
- Add extra rows to a DataFrame using `df.append(data)`

In [ ]:
# E.g. if we wanted to combine two patient cohorts (i.e. add extra rows)
df = pd.read_csv("data/patient_info.csv")
display(df.head())
df_consolidation = df[df['cohort'] == 'C'].reset_index(drop=True)
df_discovery = df[df['cohort'] == 'D'].reset_index(drop=True)

In [ ]:
# Add together the discovery and consolidation cohorts
df_all = pd.concat([df_consolidation, df_discovery])

# Reset indices
df_all.reset_index(inplace=True, drop=True)
df_all

In [ ]:
# We can also append a single line using a dictionary
df_plus = df_all.append({'patient': "TEST", "age": 20, "has_dose": True}, ignore_index=True)
df_plus.tail()

In [ ]:
# Merge two DataFrames containing the same patients but different columns
# Load two DataFrames containing patient info
df_info = pd.read_csv('data/patient_info.csv')
df_late = pd.read_csv('data/late_6_months.csv')

# Merge on patient ID
df = df_info.merge(df_late, on='patient')

## Plotting data
Pandas conveniently has a built-in plotting method! This is built on top of matplotlib.

- Scatter plot: `df.plot(x=x_col, y=y_col, kind="scatter")`
- Histogram: `df[col_name].plot(kind="hist")` or, even shorter, `df[col_name].hist()`
- Bar chart: `df[col_name].value_counts().plot(kind="bar")`
- Pie chart: `df[col_name].value_counts().plot(kind="pie")`

In [ ]:
# Scatter plot
df = pd.read_csv("data/patient_info.csv")
ax = df.plot(x='age', y='mass', kind='scatter', figsize=(10, 5))  # Capture the output as a matplotlib axis

# Adjust properties of ax
ax.set_title("Age vs. patient weight")

# Save figure using matplotlib
import matplotlib.pyplot as plt
plt.savefig("data/my_plot.png")

In [ ]:
# Histogram
df['age'].plot(kind="hist", bins=8, title="Patient age");

In [ ]:
# Bar chart/pie chart
fig, ax = plt.subplots(1, 2, figsize=(16, 6))
df["sex"].value_counts().plot(kind="bar", title="Patient sex", ax=ax[0]);  # Note: you can specify the axis to use
df["sex"].value_counts().plot(kind="pie", ax=ax[1]);

## Bonus: plotting with seaborn
Seaborn is a python package with a lot of nice built-in plotting functionality that works out-of-the-box with pandas. Some examples:

- `lmplot(x=x_col, y=y_col, data=df)`: scatter plot with linear regression fit.
- `pairplot(df)`: grid of scatter plots of all columns (note: you might want to reduce your columns a bit, or this will be very slow!)
- `heatmap(df.corr())`: heatmap of correlations between columns.
- `histplot(data=df, x=x_col, hue=col_to_hue)`: histogram of a column. If a "hue" variable is set, multiple histograms will be plotted based on the column given.

In [ ]:
# Seaborn linear regression plot
import seaborn as sns
sns.lmplot(x='age', y='smoking_metric', data=df);

In [ ]:
# Seaborn pair plot
df_reduced = df[['age', 'sex', 'smoking_metric', 'mass', 'alcohol_metric']]
sns.pairplot(df_reduced)

In [ ]:
# Seaborn correlation heatmap
sns.heatmap(df_reduced.corr(), cmap="RdBu")

# Note: we can also extract the numerical correlation matrix using:
correlation = df_reduced.corr()
display(correlation)

In [ ]:
# Histogram
sns.histplot(data=df, x="mass", hue="sex", kde=True);

In [ ]:
# Using lmplot with hue
sns.lmplot(data=df, x="age", y="mass", hue="sex")

## Grouping data
Sometimes you might want to group data into subsets based on the value of a column, and then perform an operation on each subset.

Generally when doing this, your workflow should follow the **split-apply-combine** routine:
   1. Split a DataFrame into groups
   2. Apply some operation to the data in each group
   3. Combine the results into a new DataFrame

- To make a group, use the `groupby()` method; e.g. to group by patient ID: `groups = df.groupby("patient")`.
- This produces a special DataFrameGroupBy object.
- You can then apply operations such as `sum`, `mean`, `min`, `max` etc to all groups at once, e.g. `groups["mass"].mean()` would return a DataSeries containing the mean mass of each patient.
- You can also apply an operation to multiple columns at once; this gives you a DataFrame, e.g. `groups[[col1, col2]].max()` would give you a DataFrame containing the maxima of `col2` and `col2` in each group.
- To get an individual group as a DataFrame, use `groups.get_group(group_name)`, where `group_name` is the value of that group in the column you used for grouping.
- You can also group by multiple columns at once: `groups = df.groupby((col1, col2))`.
- To apply multiple operations at once, use the `agg` method, e.g. to get the mean, min, and max mass of each patient: `groups["mass"].agg(["mean", "min", "max"])

In [56]:
# Load a dataset with multiple entries per patient
df = pd.read_csv('data/late_all.csv', index_col=0).reset_index(drop=True)
df.head()

,patient,disease,stage,date,mass,ear_pain,external_ear_inflammation,hearing_impaired,tinnitus,cataract,...,CTCAE_sdi,CTCAE_sdi_grade,CTCAE_dysphagia,CTCAE_dysphagia_grade,EORTC_dry_mouth,EORTC_dry_mouth_grade,EORTC_sticky_saliva,EORTC_sticky_saliva_grade,EORTC_taste,EORTC_taste_grade
0,VT1_H_00BE02K1,head_and_neck,late,2014-11-05,50.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,1,4.0,1,3.0,1,4.0,0,1.0
1,VT1_H_01DE91K1,head_and_neck,late,2014-03-26,83.0,0.0,0.0,0.0,0.0,0.0,...,1,2.0,0,0.0,0,1.0,0,1.0,1,4.0
2,VT1_H_01DE91K1,head_and_neck,late,2014-07-16,87.7,0.0,0.0,0.0,0.0,0.0,...,1,2.0,0,0.0,0,1.0,0,1.0,1,4.0
3,VT1_H_01DE91K1,head_and_neck,late,2015-07-28,NaN,0.0,0.0,0.0,0.0,0.0,...,1,2.0,0,0.0,0,1.0,0,1.0,1,4.0
4,VT1_H_01DE91K1,head_and_neck,late,2016-07-29,NaN,0.0,0.0,0.0,0.0,0.0,...,1,2.0,0,0.0,0,1.0,0,1.0,1,4.0

In [59]:
# Group by patient ID
groups = df.groupby('patient')
type(groups)

pandas.core.groupby.generic.DataFrameGroupBy

In [45]:
# Get maximum value of various toxicity scores for each patient
groups[['CTCAE_dysphagia_grade', 'EORTC_dry_mouth_grade', 'EORTC_taste_grade']].max()

,CTCAE_dysphagia_grade,EORTC_dry_mouth_grade,EORTC_taste_grade
patient,,,
VT1_H_00BE02K1,4.0,3.0,1.0
VT1_H_01DE91K1,0.0,1.0,4.0
VT1_H_03F693K1,3.0,4.0,4.0
VT1_H_042C02K1,2.0,4.0,2.0
VT1_H_052D61K1,0.0,2.0,2.0
...,...,...,...
VT1_H_F894CK1L,3.0,3.0,3.0
VT1_H_F8E46K1L,2.0,2.0,2.0
VT1_H_FA43E1K1,0.0,3.0,2.0
VT1_H_FBD27K1L,1.0,3.0,2.0
VT1_H_FDE391K1,0.0,2.0,3.0

In [50]:
# Use agg to get various properties of patient masses
groups['mass'].agg(['count', 'min', 'max', 'mean', 'std'])

                count    min    max    mean       std
patient
VT1_H_00BE02K1      1   50.0   50.0   50.00       NaN
VT1_H_01DE91K1      2   83.0   87.7   85.35  3.323402
VT1_H_03F693K1      4   54.0   61.6   56.80  3.452535
VT1_H_042C02K1      3   43.0   50.8   46.10  4.138840
VT1_H_052D61K1      3  135.0  145.0  140.00  5.000000
...               ...    ...    ...     ...       ...
VT1_H_F894CK1L      2   42.0   43.0   42.50  0.707107
VT1_H_F8E46K1L      2  120.0  120.0  120.00  0.000000
VT1_H_FA43E1K1      3   67.5   70.0   68.50  1.322876
VT1_H_FBD27K1L      4   70.0   73.0   71.75  1.500000
VT1_H_FDE391K1      1   83.5   83.5   83.50       NaN

[294 rows x 5 columns]

In [69]:
# Use agg to get date range
# First, convert "date" column into a datetime object
df['date'] = pd.to_datetime(df['date'])

# Split-apply-recombine in one line:
# 1. Split by patient ID
# 2. Find min and max date for each group and combine into a new DataFrame
df_dates = df.groupby('patient')['date'].agg(['min', 'max'])

# Add new column containing the difference between min and max
df_dates['range'] = df_dates['max'] - df_dates['min']
df_dates

                      min        max     range
patient
VT1_H_00BE02K1 2014-11-05 2014-11-05    0 days
VT1_H_01DE91K1 2014-03-26 2018-06-13 1540 days
VT1_H_03F693K1 2017-05-11 2019-02-06  636 days
VT1_H_042C02K1 2014-10-01 2015-07-01  273 days
VT1_H_052D61K1 2015-06-22 2018-03-14  996 days
...                   ...        ...       ...
VT1_H_F894CK1L 2015-11-19 2016-02-18   91 days
VT1_H_F8E46K1L 2016-01-06 2017-02-22  413 days
VT1_H_FA43E1K1 2014-09-22 2016-07-01  648 days
VT1_H_FBD27K1L 2015-05-07 2017-02-23  658 days
VT1_H_FDE391K1 2014-07-17 2014-07-17    0 days

[294 rows x 3 columns]